<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/pages.css">
    <title>BlogPostApp</title>
  </head> 
    <body>
      <nav class="navbar fixed-top navbar-light nav-header " id="nav">
        <a href="/#page-top" class="nav-text">BlogPost App</a> 
        <a href="/#blogs" class="nav-btn right-align"> Back To List</a>
      </nav>
      <div class="form-blog-page">
        <div class="title"> Edit Blog </div>
        <hr/>
 
     


<div class="container">
        <form action="<%=`/blogs/edit/${blog._id}?_method=PUT`%>" method="POST" onsubmit="return validation()">
        <div class="form-group">
        <label>Title:</label><br/>
        <input type="text" name="blog[title]" value="<%=blog.title%>" id="title" placeholder="title" class="form-control" >
        <div class="error-message" id="title-error"></div>
    </div>
    <div class="form-group">
        <label>Category:</label>
        <br/>
        <input type="text" name="blog[category]" value="<%=blog.category%>" id="category" placeholder="category" class="form-control" >
        <div class="error-message" id="category-error"></div>
      </div>
    <div class="form-group">
        <label>Content:</label>
        <br/>
        <textarea name="blog[content]" id="content" placeholder="content" class="form-control" rows="15" cols="100"  ><%=blog.content%></textarea>
        <div class="error-message" id="content-error"></div>
    </div>
        <button class="btn1 " type="submit">Update</button>
        <a href="<%=`/blogs/${blog._id}`%>" class="btn2 ">Cancel</a>
        </form>
</div>        
    </body>
    <script type="application/javascript" src="/validations.js"></script>
</html>